<form [formGroup]="sampleForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" required>
        <div *ngIf="sampleForm.get('name')?.invalid && sampleForm.get('name')?.touched">Name is required</div>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" required>
        <div *ngIf="sampleForm.get('email')?.invalid && sampleForm.get('email')?.touched">Email is required must be in a valid format.</div>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" required>

        <div *ngIf="sampleForm.get('password')?.invalid && sampleForm.get('password')?.touched"></div>
    </div>

    
    <div>
       <Button type="submit"> Submit</Button>
    </div>
</form>
