
<!-- Task 1 -->
<!-- <div *ngFor="let i of items">{{i}}</div> -->



<!-- Task 2 -->
<!-- <h1>Shopping Cart Items</h1>

<input type="text" [(ngModel)]="itemName">
<button (click)=" addItem()">Add to Cart</button>

<ul>
  <li *ngFor="let i of cartItems">{{i}}</li>
</ul> -->


<!-- Task 3 -->

<!-- <app-app-count-down-timer [duration]="10"></app-app-count-down-timer> -->


<!-- task 9 -->

<!-- <app-user-card-component [user]="{name:'shilp',email:'shilpa@gmail.com'}"></app-user-card-component> -->

<!-- task 10 -->

<!-- <app-task-list-component [tasks]="[{id:1,name:'task1'},{id:2,name:'task2'},{id:3,name:'task3'},{id:4,name:'task4'},{id:5,name:'task5'}]"></app-task-list-component> -->

<!-- task 11 -->
<!-- <app-product-list-component [products]="[{id:1,name:'product1',price:'2INR'},
{id:3,name:'product3',price:'3INR'},
{id:2,name:'product2',price:'4INR'}]"></app-product-list-component> -->

<!-- task 12 -->

<!-- <input type="text" [(ngModel)]="inputString">

<button (click)="countVowels()">press to find vowels</button>

{{count}} -->


<!-- task 14 -->

<!-- <app-name-list [names]="namesContainer"></app-name-list> -->

<!-- task15 -->

<!-- <app-shopping-cart [cart]="cartItems"></app-shopping-cart> -->

<!-- task 16 -->

<!-- <app-counter></app-counter> -->


<!-- task 17 -->

<!-- <app-todo-list></app-todo-list> -->

<!-- task 28 -->
<!-- <app-greeting-form></app-greeting-form> -->

<!-- task 31 -->

<!-- <app-user-card-component [user]="userData"></app-user-card-component> -->

<!-- <img src="../assets/profile" alt=""> -->

<!-- <app-todo-list></app-todo-list> -->

<!-- <app-task-list-component></app-task-list-component> -->

<!-- <app-task-list1></app-task-list1> -->

<!-- <app-user-list></app-user-list> -->

<!-- <app-blog-list></app-blog-list> -->

<!-- <app-reactive-form></app-reactive-form> -->

<!-- <app-calculator></app-calculator> -->

<!-- <app-new-todo-list></app-new-todo-list> -->

<!-- <app-image-gallery></app-image-gallery> -->

<!-- <app-gallery></app-gallery> -->
<router-outlet></router-outlet>